.service3{
    color: #000;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-image: url('../../../images/background/background2.png');

    .service-header{
        display: flex;
        align-items: center;
        padding-bottom: 26.5px;
        .service-description{
            display: flex;
            flex-direction: column;
            width: 52.5%;
            margin-left: 60px;
            h1{
                font-size: 38px;
                font-weight: 600;
            }
            span{
                color: #f00;
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 13px;
            }
            p{
                width: 70%;
                font-size: 14px;
                font-weight: 400;
                margin-block-end: 0;
            }
        }
    
        .aide{
            margin-top: 300px;
            margin-left: auto;
            margin-right: 23px;
            .content{
                border-radius: 142.5px;
                background: #F00;
                box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
                display: flex;
                align-items: center;
                width: 100%;
                margin-left: auto;
                .white-round {
                    width: 76px;
                    height: 76px;
                    background-color: #FFF;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 5px 4px;
                }
    
                .text-content{
                    display: flex;
                    flex-direction: column;
                    color: #FFF;
                    margin-left: 20px;
                    margin-right: 25px;
                    h3{
                        font-size: 18px;
                        font-weight: 700;
                        height: 21px;
                        margin: 0;
                        padding: 0;
                    }
    
                    span{
                        font-weight: 400;
                        font-size: 14px;
                        height: 21px;
                        margin-top: 7px;
                    }
                }
            }
        }
    }
    
    .gestion-technique{
        display: flex;
        align-items: center;
        margin-left: auto;
        background-color: #F1F1F1;
        padding-top: 30.5px;
        padding-bottom: 26px;
        .gestion-technique-card{
            display: flex;
            background-color: #FFF;
            border-radius: 159.5px;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.07);
            width: 55%;
            padding: 5px 0px;
            margin-right: 80px;
            img{
                margin-left: auto;
                margin-right: 20px;
            }
        }

        .gestion-technique-text{
            display: flex;
            flex-direction: column;
            width: 45%;
            margin-right: 93px;

            h3{
                color: #F00;
                font-size: 18px;
                font-weight: 500;
            }

            .content{
                display: flex;
                div{
                    margin-right: 26px;
                    display: flex;
                    flex-direction: column;
                    span{
                        padding-bottom: 20px;
                        font-size: 17px;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .gestion-audits{
        display: flex;
        align-items: center;
        margin-left: auto;
        padding-top: 30.5px;
        padding-bottom: 80px;

        .gestion-audits-card{
            display: flex;
            background-color: #FFF;
            border-radius: 159.5px;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.07);
            width: 55%;
            padding: 5px 0px;
            margin-left: 80px;
            margin-right: auto;

            img{
                margin-right: auto;
                margin-left: 20px;
            }
        }

        .gestion-audits-text{
            display: flex;
            flex-direction: column;
            width: 43%;
            margin-right: 93px;
            margin-left: 60px;
            h3{
                color: #F00;
                font-size: 18px;
                font-weight: 500;
            }

            .content{
                .content-style{
                    display: block;
                    margin-left: 30px;
                    width: 80%;
                    h3{
                        color: #000;
                    }

                    span{
                        margin-left: 20px;
                    }
                }
            }
        }
    }

    .outro{
        display: flex;
        align-items:baseline;
        width: 100%;
        margin-bottom: 57px;
        background: #FFF;
        box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.07);

        .outro-text{
            width: 538px;
            margin-left: 97px;
            padding-bottom: 59px;

            span{
                font-size: 15px;
                font-weight: 400;
                line-height: 22.5px;
            }
        }

        .outro-style{
            margin-left: auto;
            width: 60%;
            padding-top: 60px;
            .services{
                #service1{
                    color: #fff;
                    background-color: #F00;
                    width: 100%;
                    margin-left: 0;
                }
    
                .service{
                    border-radius: 142.5px;
                    border-bottom-right-radius: 0px;
                    border-top-right-radius: 0px;
                    background: #fff;
                    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
                    display: flex;
                    align-items: center;
                    margin-left: 60px;
                    margin-bottom: 27px;
    
                    .tick{
                        position: relative;
                        display: flex;
                        height: 32px;
                        margin-left: 4px;
                        margin-top: 5px;
                        margin-bottom: 4px;
                        svg{
                            stroke-width: 2px;
                            stroke: #FFF;
                            flex-shrink: 0;
                        }
                        .container-overlay{
                            position: absolute;
                            display: flex;
                            top: 0;
                            svg{
                                flex-shrink: 0;
                                padding-left: 6px;
                                padding-top: 6px;
                            }   
                        }
                    }
    
                    span{
                        font-size: 14px;
                        font-weight: 500;
                        margin-left: 30px;
                        width: 100%;
                    }
                }
            }
        }
    }
}